<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Curso</th>
            <th>Ano</th>
            <th>Semestre</th>
            <th>Atividade Complementar</th>
            <th>Matricula</th>
            <th>Aluno</th>
            <th>Carga Horaria</th>
            <th>
                <form method="POST" >
                    <input type="hidden" name="crud" value="insert" >
                    <input type="submit" value="Novo Aluno" class="btn btn-sm btn-outline-success" >
                </form>
            </th>
        </tr>
    </thead>
    <tbody>
        {{list_items}}
    </tbody>
</table>
